@import url("https://fonts.cdnfonts.com/css/basier");
:root {
	font-family: "Basier Circle", sans-serif;
	color: #ffffff;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: #121212;
}
